{{- if hasKey . "proxy" -}}
{{- with .proxy -}}
{{- if and (hasKey . "enabled") .enabled (hasKey . "scheme") (hasKey . "host") (hasKey . "port") (hasKey . "no_proxy") -}}
{{- $proxy := printf "%s://%s:%d" .scheme .host .port -}}
export HTTP_PROXY={{ $proxy | quote }}
export HTTPS_PROXY={{ $proxy | quote }}
export http_proxy={{ $proxy | quote }}
export https_proxy={{ $proxy | quote }}
export all_proxy={{ $proxy | quote }}
export ALL_PROXY={{ $proxy | quote }}
export NO_PROXY={{ .no_proxy | quote }}
export no_proxy={{ .no_proxy | quote }}
{{- end -}}
{{- end -}}
{{- end -}}
