{{- if .proxy.enabled -}}
{{- $proxy := printf "%s://%s:%d" .proxy.scheme .proxy.host .proxy.port -}}
export HTTP_PROXY={{ $proxy | quote }}
export HTTPS_PROXY={{ $proxy | quote }}
export ALL_PROXY={{ $proxy | quote }}
export NO_PROXY={{ .proxy.no_proxy | quote }}
{{- end -}}
