#!/usr/bin/env sh
set -eu

ZSH_CUSTOM="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}"

# If oh-my-zsh isn't installed, run the official installer
if [ ! -f "$HOME/.oh-my-zsh/oh-my-zsh.sh" ]; then
  echo "oh-my-zsh not found in $HOME/.oh-my-zsh. Installing..."
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" sh --unattended --keep-zshrc
fi

clone_if_missing() {
  repo="$1"
  target="$2"
  branch="${3:-}"

  if [ ! -e "$target" ]; then
    mkdir -p "$(dirname "$target")"
    if [ -n "$branch" ]; then
      git clone --depth 1 --single-branch -b "$branch" "$repo" "$target"
    else
      git clone --depth 1 --single-branch "$repo" "$target"
    fi
  fi
}

clone_if_missing "https://github.com/tmux-plugins/tpm" "$HOME/.tmux/plugins/tpm"
clone_if_missing "https://github.com/catppuccin/tmux.git" "$HOME/.config/tmux/plugins/catppuccin/tmux"

clone_if_missing "https://github.com/romkatv/powerlevel10k.git" "$ZSH_CUSTOM/themes/powerlevel10k"
clone_if_missing "https://github.com/zsh-users/zsh-autosuggestions" "$ZSH_CUSTOM/plugins/zsh-autosuggestions"
clone_if_missing "https://github.com/zsh-users/zsh-syntax-highlighting.git" "$ZSH_CUSTOM/plugins/zsh-syntax-highlighting"
clone_if_missing "https://github.com/Aloxaf/fzf-tab" "$ZSH_CUSTOM/plugins/fzf-tab"
clone_if_missing "https://github.com/sunlei/zsh-ssh" "$ZSH_CUSTOM/plugins/zsh-ssh"
